#page-AboutUs{
    padding: 0px;
    img{
        width: auto;
        max-width: 100%;
        height: auto;
    }
}
#about-banner{
    background: #e1f5fe;
    padding: 0px 0 0px;
}
.wrapper_header {
    position: relative;
    z-index: 1;
    padding-top: 130px;
}
.about-us_thumbs{
    margin-left: -150px;
    figure{
        margin: 0px;
    }
}