.blogs-second-group {
    padding: 15px 0;
    border-top: 1px solid #eee;

    .blogs-second-box {
        position: relative;
        cursor: pointer;

        .blogs-second-thumb {
            width: 320px;
            overflow: hidden;
            figure {
                margin: 0px;

                img {
                    transition: all 0.3s ease;
                }
            }

        }

        .blogs-second-info {
            width: calc(100% - 320px);
            padding-left: 20px;

            h3 {
                font-weight: bold;
                font-size: 1.25rem;

                a {
                    color: var(--primary-color-green);
                    transition: all 0.5s ease;


                }
            }

            .blogs-read-more {
                font-size: 14px;
                transition: all 0.3s;

                i {
                    margin-left: 5px;
                    transition: 0.3s;
                }
            }
        }

        &:hover {
            .blogs-read-more {
                color: var(--primary-color-black);
                background: var(--primary-color-green);
                padding: 5px 20px;
                border-radius: 3px;
                color: #fff;

                i {
                    margin-left: 10px;
                }
            }

            .blogs-second-thumb {
                img {
                    transform: scale(1.1);
                }
            }

            .blogs-second-info {
                h3 {
                    a {
                        color: var(--primary-color-black);
                    }
                }
            }
        }
    }
}

.blogs-items-view {
    margin-bottom: 15px;
    padding-top: 1rem;
    position: relative;
    border-top: 1px solid #ddd;

    &:first-child {
        border-top: none;
        padding-top: 0px;
    }

    h4 {
        font-weight: bold;
        line-height: 0.8;

        a {
            font-size: 1.125rem;
            line-height: 1.4;
            &:hover{
                color: var(--primary-color-black);
            }
        }
    }

    p {
        margin-bottom: 0px;
        font-size: 0.875rem;

        svg {
            position: relative;
            top: -1px;
        }
    }

    figure {
        margin: 0px;
    }

    &.first {
        display: flex;

        .blogs-items-thumb {
            width: 100%;
            max-width: 45%;
            border-radius: 0.5rem;
            overflow: hidden;

            img {
                border-radius: 0.5rem;
            }
        }

        .blogs-items-info {
            padding-left: 10px;

            p {
                font-size: 13px;
            }
        }
    }
}

.page-blogs-content {
    border-radius: 1rem;
    -webkit-box-shadow: 0 0rem 1rem rgb(0 0 0 / 5%);
    box-shadow: 0 0rem 1rem rgb(0 0 0 / 5%);
    padding: 0.75rem;
    background: #fff;
    position: relative;

    &.page-blogs-categories {
        margin-bottom: 1.5rem;

        .blogs-category {
            display: inline-block;
            margin: 4px 2px;

            a {
                padding: 0.625rem 1rem;
                display: block;
                border-radius: 10px;
                font-weight: 500;
                font-size: 0.875rem;
                color: #fff;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                background-size: 400% auto;
                background: linear-gradient(270deg, #70efd1 0, #1bc1c1 100%);
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
        }
    }
}

.page-blogs-title {
    h2 {
        font-weight: bold;
        color: #13855c;
        font-size: 1.5rem;
    }

    margin-bottom: 1rem;
}

#blogs-left-first {
    margin-bottom: 1.5rem;

    .blogs-box {
        .blogs-thumb {
            overflow: hidden;
            margin-bottom: 1rem;

            figure {
                margin: 0px;

                img {
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .blogs-info {
            h3 {
                font-weight: bold;

                a {
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

.blogs-items-small {
    h4 {
        a {
            font-size: 0.875rem;
        }
    }
}
.read-more-category{
    text-align: right;
    a{
        font-size: 14px;
        i{
            margin-left: 5px;
            transition: all 0.3s ease;
            position: relative;
            top: 1px;
        }
        &:hover{
            color: var(--primary-color-black);
            i{
                margin-left: 15px;
            }
        }
    }
}