.header {
  position: relative;
}

#page-Domain {
  padding: 0px;
  background: #F9F9F9;
}
#page-Domain img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#page-why-domain {
  padding: 50px 0px;
}

.title-heading-domain {
  text-align: center;
  margin-bottom: 2.5rem;
}
.title-heading-domain p {
  font-size: 14px;
  text-transform: uppercase;
}
.title-heading-domain h2 {
  font-size: 34px;
  font-weight: bold;
}

.domain-items__box {
  border-radius: 6px 6px 6px 6px;
  background-color: #fff;
  border-top: 4px solid #ff0000;
  box-shadow: 0px 0px 10px 0px rgba(22, 28, 45, 0.05);
  padding: 25px 25px 25px 25px;
  height: 100%;
}
.domain-items__box .domain-items__box__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.domain-items__box .domain-items__box__thumb .img {
  max-width: 80px;
  width: 100%;
}
.domain-items__box .domain-items__box__info {
  text-align: center;
}
.domain-items__box .domain-items__box__info h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2.5rem;
  position: relative;
}
.domain-items__box .domain-items__box__info h3:before {
  content: "";
  display: block;
  width: 15%;
  height: 2px;
  background-color: #161c2d;
  margin: 0px auto;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1rem;
}
.domain-items__box .domain-items__box__info p {
  line-height: 1.6;
  margin-bottom: 0px;
}

#page-search-domain {
  padding: 60px 0px;
  background: #Fff;
}
#page-search-domain .extension {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}
#page-search-domain .extension li {
  list-style: none;
  width: 25%;
  margin: 5px 0px;
  position: relative;
  display: flex;
}
#page-search-domain .extension li input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 18px;
  z-index: 2;
  cursor: pointer;
}
#page-search-domain .extension li label {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}
#page-search-domain .extension li input[type=checkbox]:checked ~ label:before {
  background: #c30e12;
  border-color: #c30e12;
}
#page-search-domain .extension li input[type=checkbox]:checked ~ label:after {
  opacity: 1;
  transform: rotate(45deg);
}
#page-search-domain .extension li label:before {
  width: 18px;
  height: 18px;
  background: transparent;
  position: absolute;
  content: "";
  left: 0px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  transition: all 0.6s;
  box-sizing: border-box;
  top: calc(50% - 9px);
  cursor: pointer;
}
#page-search-domain .extension li label:after {
  position: absolute;
  width: 5px;
  height: 9px;
  border: 2px solid #FFF;
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: calc(50% - 5px);
  content: "";
  opacity: 0;
  transform: rotate(0deg);
  transition: all 0.6s;
  cursor: pointer;
}

.wrap-form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.wrap-form-search .domain-form-search {
  max-width: 680px;
  width: 100%;
}
.wrap-form-search .flex-box-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-form-search .flex-box-search .domain-form-button {
  width: 150px;
  height: 40px;
  color: #FFF;
  background: #c30e12;
  line-height: 40px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrap-form-search .flex-box-search .domain-form-button button {
  border-radius: 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrap-form-search .flex-box-search .domain-form-button button:focus {
  outline: none;
  box-shadow: none;
}
.wrap-form-search .flex-box-search .domain-form-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: calc(100% - 150px);
}
.wrap-form-search .flex-box-search .domain-form-input input {
  border-radius: 0px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 14px;
}
.wrap-form-search .flex-box-search .domain-form-input input::-moz-placeholder {
  color: #333;
}
.wrap-form-search .flex-box-search .domain-form-input input:-ms-input-placeholder {
  color: #333;
}
.wrap-form-search .flex-box-search .domain-form-input input::placeholder {
  color: #333;
}
.wrap-form-search .flex-box-search .domain-form-input input:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 678px) {
  .title-heading-domain h2 {
    font-size: 28px;
  }
  .title-heading-domain p {
    text-transform: capitalize;
  }
  .domain-items {
    margin-top: 1rem;
  }
  .domain-items:not(:first) {
    margin-top: 0px;
  }
  .domain-items__box .domain-items__box__info p {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */